<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
<title>Insert title here</title>
<!-- <script src="http://localhost:8080/js/encoding.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://localhost:8080/js/tabletocsv.js"></script>

</head>
<body>

<p th:text="${msg}"></p>

<form method="post" action="/ReserveToday">
	<table>
		<tr><td><label for="itemnm">部屋番号</label></td>
			<td><input type="text" name="itemnm" /></td></tr>
		<tr>
			<td><input type="radio" name="reserved" value="Y" checked="checked"/>予約有り</td>
			<td><input type="radio" name="reserved" value="N"/>予約無し</td>
		</tr>
		<tr>
			<td><input type="radio" name="stayed" th:value="Y" checked="checked" />宿泊中</td>
			<td><input type="radio" name="stayed" th:value="N" />空室</td>
		</tr>
		<tr><td></td><td><input type="submit" value="検索" /></td></tr>
	</table>
</form>

	<table id="nameTable">
			<tr>
				<th>部屋番号</th>
				<th>予約</th>
				<th>宿泊</th>
				<th>顧客ID</th>
				<th>顧客名</th>
			</tr>
			<tr th:each="obj : ${datalist}">
				<td th:text="${obj.getItemnm()}"></td>
				<td th:text="${obj.getReserved()}"></td>
				<td th:text="${obj.getStayed()}"></td>
				<td th:text="${obj.getCustomerid()}"></td>
				<td th:text="${obj.getCustomernm()}"></td>
			</tr>
	</table>
	
<!-- <a href="#" id="download" download="test.csv">CSVダウンロード</a> -->
<a id="download" href="#" download="today.csv" onclick="handleDownload()">検索結果をダウンロード</a>
<a href="/">トップへ</a>
<a href="/Reserve">予約管理へ</a>

</body>
</html>